<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.williamsumitromytextview.qurwateam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:logo="@drawable/logo"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".view.activity.Login" />
        <activity android:name=".view.activity.Register" />
        <activity
            android:name=".view.activity.Greetings"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        android:name=".view.activity.Greetings"
        android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.DetailNews"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.DetailEvent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.DetailFranchise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.activity.EditUser" />
        <activity android:name=".view.activity.Barcode" />
    </application>

</manifest>